.todos {
  margin: 15px;
  width: 300px;
}

.todos li {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: #875ea2;
  border-radius: 20px;
  color: #f3f3f3;
  margin-top: 31px;
  width: 100%;
}
